.pop-up, .popUpActivity{
    display:none;   
}
.display_pop-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.exerciseHidden{
    display: none;
}

/*-- INSCRIPTION --*/
#inscription h1, #connexion h1{
    font-size: 3em;
    font-weight: 800;
    color: #4A4059;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.inscription-container, .connexion-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.inscription-container a p, .connexion-container a p{
    color: #11e5b48c;
    margin-bottom: 5px;
    font-size: 1em;
}
.inscription-container input, .connexion-container input, #createFastExercise .inputFastExo, #createFastExercise select{
    height: 25px;
    width: 200px;
}
.box-inscription .fas, .box-connexion .fas{
    color: #11E5B3;
}
.box-inscription .text-box:nth-child(n+3), .box-connexion .text-box:nth-child(n+3){
    margin-top: 10px;
}
.box-inscription .footer, .box-connexion .footer{
    margin-top: 15px;
}
.footer button{
    margin-bottom: 10px;
    height: 30px;
    width: 125px;
}

/*--- MAIN ---*/
.main-container h2{
    text-transform: uppercase;
}
.text-title-page-home :nth-child(1){
    margin-left: -115px;
}
.text-title-page :nth-child(1){
    font-size: 1.5em;
    font-weight: 100;
}
.text-title-page :nth-child(2){
    font-size: 4em;
}
.flex-main p:last-child(1){
    margin-top: 25px;
}

/*-- CREATION RAPIDE D'EXERCICES --*/
.activity h2:first-child, .statistique h2:first-child, .createFastExercise h2:first-child, .exercise h2:first-child{
    margin-bottom: 10px;
}

/*-- ACTIVITY --*/
.activity{
    margin: 0 25px;
}
.createFastExercise, .activity, .exercise{
    margin-top: 30px;
}
.createFastExercise h2:first-child, .activity h2:first-child, .statistique h2:first-child, h2:first-child, .exercise h2:first-child{
    font-size: 1.4em;
    font-weight: 900;
    color: #4A4059;
    text-transform: uppercase;
}
.activity-tab{
    position: relative;
}
/*- TAB -*/
.activity-tab a:first-child{
    display: block;
    border-radius: 25px;
    background-color: #683DE5;
    height: 225px;
    color: #fff;
    font-size: 1.5em;
    padding-top: 25px;
    font-family: basic-sans, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin: 20px 0;
}
.trash-activity{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1.5em;
}

/*-- STATISTIQUES --*/
.statistique{
    margin-top: 50px;
}


/*--- EXERCICES ---*/
.exercise-container .exercise-tab:nth-child(n+1){
    margin-top: 20px;
}
.exercise-tab{
    position: relative;
    margin: 0 auto;
    max-width: 300px;
    height: 50px;
    /* background-color: red; */
}
.exerciseNumber{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: #382B47;
    height: 40px;
    width: 40px;
    border-radius: 7px;
}
.exerciseNumber p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.exercise-tab-main{
    text-align: left;
    position: absolute;
    top: 50%;
    left: 75px;
    transform: translateY(-50%);
}
.exercise-icone{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 1.3em;
}
.exercise-icone a:nth-child(n+1){
    margin-left: 15px;
}