.pop-up{
    display:none;   
}
.display_pop-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

/*-- INSCRIPTION --*/
.box-inscription, .box-connexion{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box-inscription h1, .box-connexion h1{
    font-size: 40px;
}
.box-inscription .fas, .box-connexion .fas{
    color: #11E5B3;
}
.box-inscription .text-box:nth-child(2){
    margin-top: 15px;
}
.box-inscription .text-box:nth-child(n+3), .box-connexion .text-box:nth-child(n+3){
    margin-top: 10px;
}
.box-inscription .footer, .box-connexion .footer{
    margin-top: 15px;
}

/*--- MAIN ---*/
.main-container h2{
    text-transform: uppercase;
}
.text-title-page-home :nth-child(1){
    margin-left: -115px;
}
.text-title-page :nth-child(1){
    font-size: 1.5em;
    font-weight: 100;
}
.text-title-page :nth-child(2){
    font-size: 5em;
}
.flex-main p:last-child(1), .flex-program p:last-child(1){
    margin-top: 25px;
}

/*-- ACTIVITY --*/
.activity, .program{
    margin-top: 30px;
}
.activity h2:first-child, .statistique h2:first-child, .program h2:first-child{
    font-size: 1.4em;
    font-weight: 900;
    color: #4A4059;
}
.activity-tabs{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.activity-tab{
    position: relative;
}
.activity-tab a:nth-child(n+1){
    margin-left: 10px;
}
/*- TAB -*/
.activity-tab a:first-child{
    display: block;
    border-radius: 25px;
    background-color: #683DE5;
    width: 200px;
    height: 225px;
    color: #fff;
    font-size: 1.5em;
    padding-top: 25px;
    font-family: basic-sans, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
.trash-activity{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1.5em;
}

/*-- STATISTIQUES --*/
.statistique{
    margin-top: 50px;
}


/*--- PROGRAM ---*/
.program-container .program-tab:nth-child(n+1){
    margin-top: 20px;
}
.program-tab{
    position: relative;
    margin: 0 auto;
    max-width: 300px;
    height: 50px;
    /* background-color: red; */
}
.programNumber{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: #382B47;
    height: 40px;
    width: 40px;
    border-radius: 7px;
}
.programNumber p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.program-tab-main{
    text-align: left;
    position: absolute;
    top: 50%;
    left: 75px;
    transform: translateY(-50%);
}
.program-icone{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 1.3em;
}
.program-icone a:last-child{
    margin-left: 30px;
}